services:
  - type: web
    name: discord-archiver
    env: docker
    plan: free
    region: oregon
    buildCommand: pip install --no-cache-dir -r requirements.txt && playwright install chromium && playwright install-deps
    startCommand: gunicorn --worker-class eventlet -w 1 -b 0.0.0.0:5000 wsgi:application
    envVars:
      - key: SUPABASE_URL
        sync: false
      - key: SUPABASE_KEY
        sync: false
      - key: EMAIL_USER
        sync: false
      - key: EMAIL_PASSWORD
        sync: false
      - key: CHANNELS
        sync: false
      - key: TELEGRAM_TOKEN
        sync: false
      - key: TELEGRAM_ADMIN_ID
        sync: false
      - key: RENDER_SERVICE_URL
        sync: false
      - key: HEADLESS
        value: "true"
